.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #ffffff;
    font-family: 'Poppins', sans-serif;
    border-bottom: 1px solid #eee;
  }
  
  .logo {
    font-weight: 700;
    font-size: 1.8rem;
    color: #f95700;
  }
  
  .search-wrapper {
    display: flex;
    align-items: center;
    gap: 0; /* No space between input and button */
  }
  
  .search-input {
    padding: 0.6rem 1rem;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    border: 1.5px solid #ccc;
    border-right: none;
    border-radius: 8px 0 0 8px;
    outline: none;
    width: 350px;
  }
  
  .search-button {
    background-color: #d34700;
    color: #fff;
    padding: 0.6rem 1.2rem;
    font-weight: bold;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    border: 1.5px solid #ccc;
    border-left: none;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: 100%;
  }
  
  .search-button:hover {
    background-color: #b93d00;
  }
  
  
  
  .account-button {
    background-color: #d34700;
    color: #fff;
    padding: 0.7rem 1.2rem;
    border: none;
    border-radius: 6px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .account-button:hover {
    background-color: #b93d00;
  }
  