.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #ffffff;
  font-family: 'Poppins', sans-serif;
  border-bottom: 1px solid #eee;
  position: relative;
}

@font-face {
  font-family: 'HeadingNow';
  src: url('../assets/fonts/HeadingNowTrial-46Bold.ttf') format('truetype');
}

.logo {
  font-size: 70px;
  color: #f95700;
  font-family: 'HeadingNow', sans-serif;
}

.logo img{
  width: 200px;
  height: auto;

}


.navbar-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.search-container {
  display: flex;
  align-items: center;
  gap: 0;
}

.search-input {
  padding: 0.6rem 1rem;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  border: 1.5px solid #ccc;
  border-right: none;
  border-radius: 8px 0 0 8px;
  outline: none;
  width: 350px;
}

.search-button {
  background-color: #d34700;
  color: #fff;
  padding: 0.6rem 1.2rem;
  font-weight: bold;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  border: 1.5px solid #ccc;
  border-left: none;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
  height: 100%;
}

.search-button:hover {
  background-color: #b93d00;
}

.navbar-right {
  margin-left: auto;
}

.account-button {
  background-color: #d34700;
  color: #fff;
  padding: 0.7rem 1.2rem;
  border: none;
  border-radius: 6px;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.account-button:hover {
  background-color: #b93d00;
}
