/* === FONT FACES === */
@font-face {
    font-family: 'HeadingNow';
    src: url('../fonts/HeadingNowTrial-06Bold.ttf') format('truetype');
    font-weight: bold;
  }
  
  @font-face {
    font-family: 'NeueHaas';
    src: url('../fonts/HaasGrotDisp-55Roman.otf') format('opentype');
    font-weight: normal;
  }
  
  /* === GLOBAL STYLES === */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Poppins', sans-serif; /* OR 'Inter', sans-serif */
  }
  